.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db

#ignore folders with data used in R posts in them
content/post/*/data/
content/post/data

#ignore automated blogdown folders
/blogdown
/public